/* .flex-container {
  display: flex;
  background-color: red;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
} */

/*************************************/

body {
  margin: 0;
}
.container {
  border: 6px solid black;
  height: 800px;

  /******************************/

  display: flex;
  /* display: inline-flex; */

  /******************************/

  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /*  flex-direction: column; */
  /*  flex-direction: column-reverse; */

  /******************************/

  /*  flex-wrap: nowrap; */ /* default value */
  /*  flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */

  /******************************/

  /* flex-flow: row-reverse wrap; */
  /*  flex-flow: column-reverse wrap-reverse; */

  /******************************/

  /*  justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /******************************/

  /* align-items: stretch; */ /* default value */
  /* align-items: flex-start; */
  /*  align-items: flex-end; */
  /* align-items: center; */
  /*  align-items: baseline; */

  /******************************/

  /* align-content: stretch; */ /* default value */
  /* align-content: flex-start; */
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: space-between; */
  /* align-content: space-around; */
}
.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  /* flex-grow: 1; */
  /*  flex-shrink: 1;  */
  /* flex: <flex-grow> <flex-shrink> <flex-basis> */ /* "flex Property" The default is flex: 0 1 auto; */
}
.item-1 {
  background-color: #b4bf35;
  /* padding-bottom: 3rem; */
  /*   flex-basis: auto; */ /* default value */
  /*   flex-basis: 200px; */
  align-self: flex-start;
}
.item-2 {
  background-color: #b95f21;
  /* padding-bottom: 5rem; */
  /*  flex-shrink: 4; */ /* The value must be a number, the default value is 1. */
  align-self: flex-end;
}
.item-3 {
  background-color: #1c4c56;
  /*  font-size: 3rem; */
  /*  order: 1; */ /* The order value must be a number, default value is 0. */
  align-self: center;
}
.item-4 {
  background-color: #cfb276;
  align-self: stretch;
}
.item-5 {
  background-color: #6b0803;
  /*  flex-grow: 1; */ /* The value must be a number, the default value is 0. */
  /* align-self: auto; */
}
.item-6 {
  background-color: #1c4c56;
  /* flex-grow: 3; */
}
.item-7 {
  background-color: #b95f21;
  /*  order: 2; */
}
.item-8 {
  background-color: #01243a;
}
.item-9 {
  background-color: #aad041;
  /*   order: 1; */
}

/*###############################*/

/* Always put your media queries at the end of your CSS file. */

/* Common breakpoints for widths of devices:
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

.text {
  font-size: 14px;
}

@media (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}

/******************************/

@media screen and (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}

/******************************/

@media only screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/******************************/

@media not screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/******************************/

@media screen and (min-width: 992px) and (max-width: 1136px) {
  body {
    background-color: blue;
  }
}

/******************************/

@media screen and (min-width: 992px), (max-width: 1136px) {
  body {
    background-color: blue;
  }
}

/******************************/

/* initial style */
p {
  color: red;
}

/* media query */
@media only screen and (max-width: 800px) {
  p {
    color: green;
  }
}

/******************************/

/* initial style */
p {
  color: red;
}

/* media query */
@media only screen and (min-width: 400px) {
  p {
    color: green;
  }
}

/******************************/

/* initial style */
p {
  color: red;
}

/* media query */
@media only screen and (min-width: 400px) and (max-width: 800px) {
  p {
    color: green;
  }
}
